@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu',sans-serif;
   
}

nav ul{
    display:flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color:White;
    align-items: center;
    
}
nav ul li {
    padding: 0px 10px;
}

.slogo img{
    width: 50px; 
    padding: 0px 10px;  
}
.slogo{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
/* container */

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 13px;
    padding: 34px;
   background-image: url(bg.jpg);

}

.songItem {
    height: 50px;
    
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    
}
.songItem img{
    width: 35px;
    margin: 0 34px;
    border-radius: 32px;  
}
.songListPlay{
    margin: 0 34px;
}
.timestamp i{
    margin: 0 5px;
    cursor: pointer;
}

.songListContainer{
    margin-top: 75px;
}

/* buttom  */
.buttom{
    bottom: 0;
    background-color: black;
    height: 130px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons i{
    margin: 14px 10px;
}
#myprogressbar{
   width: 80vw;
}
.icons i{
    color: white;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}